/* NAv Styles */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
.banner-content{
    text-align: center;
}
.banner{
    background-image: url(/images/Hero-bg.png);
}
.firstpera{
    text-align: center;
}
.secondpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.thirdpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.fourthpart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}