/* NAv Styles */
nav{
    display: flex;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}
.banner-content{
    text-align: center;
}
.banner{
    background-image: url(/images/Hero-bg.png);
}